<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Narrow Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../css/editor.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="narrow-jumbotron.css" rel="stylesheet">
  </head>

  <body style="float: none;">

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              
            </li>
            <li class="nav-item">
              
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="background-color: rgb(0, 86, 179); color: rgb(255, 255, 255);">Return to KB</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">EPMED PA Invetory</h3>
      </div>

      <div class="jumbotron">
        <h1 class="display-3" style="width: 640px; line-height: 83px;">EPMEDPA INVENTORY</h1>
        <p class="lead">Please select the facility you would like to search an item.</p>
        <p></p>
      <div class="container" style=""><div class="m-5">Container</div></div></div>

      

      <footer class="footer">
        <p>© EPMED, PA 2021</p>
      </footer>

    </div> <!-- /container -->
  

</body>
</html>