<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- dark mode -->
    <style>
        body{
             background-color: white;
             color: black;
             }

        .dark-mode{
            background-color: #363943;
            color: white;
            }
    </style>

    <!-- dark mode -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Title</title>
</head>




<!-- navbar -->

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EPMED PA</a>
    <button class="btn btn-sm btn-outline-light" type="button" onclick="myFunction()">Toogle Dark Mode</button>
    </div>
  </div>
</nav>

<!-- navbar ends -->

<!-- container -->
  <div class="container">
           <div class="text-center">
               <img src="./static/img/Logo-Blue_tp.png" style="padding-top: 52px;" alt="EPMED PA Logo">
           </div>

           <div class="row">
            <div class="col-md-12">
              <h1 class="display-4" align="center" style=" padding-top: 50px; padding-bottom: 25px;">EPMED PA Database</h1>

               <form action="/subs" method="post">
                   <label for="facility" class="fw-bold" style="padding-bottom: 15px;">Select Facility</label>
                    <select name="facility" id="facility" class="form-select" aria-label="Default select example">
                        <option value="West">EPPC West</option>
                        <option value="East">EPPC East</option>
                       <option value="Central">EPPC Central</option>
                       <option value="Northeast">EPPC Northeast</option>
                        <option value="Primary Care Central">El Paso Primary Care Associates Central</option>
                        <option value="Primary Care">El Paso Primary Care Associates </option>
                        <option value="Alamogordo">NMPC Alamogordo</option>
                        <option value="Albuquerque">NMPC Albuquerque</option>
                        <option value="Rio">NMPC Rio Rancho</option>
                       <option value="Roswell">NMPC Roswell</option>
                       <option value="Las Cruces">LCPC</option>
                       <option value="Las Cruces - Northrise">LCPC Northrise</option>
                       <option value="Frisco">NTPC Frisco</option>
                        <option value="Mid Cities">NTPC Midcities</option>

                      </select>

                    <br>
                      <button class="btn btn-outline-primary btn-lg" align="center">Select</button>
               </form>
           </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- dark mode js script -->
<script>
    function myFunction(){
        var element = document.body;
        element.classList.toggle("dark-mode");
    }
</script>
<!-- dark mode js script -->
</body>
</html>





