{% extends "index.html" %}

{% block body %}
<!-- tabs start -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="inventory-tab" data-bs-toggle="tab" data-bs-target="#inventory" type="button" role="tab" aria-controls="inventory" aria-selected="true">Inventory</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="specialty-tab" data-bs-toggle="tab" data-bs-target="#specialty" type="button" role="tab" aria-controls="specialty" aria-selected="false">Specialty Rx</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="notes-tab" data-bs-toggle="tab" data-bs-target="#notes" type="button" role="tab" aria-controls="notes" aria-selected="false">Pending Visit Statuses</button>
  </li>
</ul>

<!-- tabs content -->
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="inventory" role="tabpanel" aria-labelledby="inventory-tab">
      <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="padding-top: 50px; padding-bottom: 25px;">Injectible Inventory</h1>
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th>Item Name</th>
                            <th>Item Quantity</th>
                            <th>Out of Stock Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in db_data %}
                            <tr>
                                <td>
                                     {{row.ItemName}}
                                </td>
                                <td>
                                    {{row.ItemQty}}
                                </td>
                                <td>
                                    {{ row.OutOfStockDate }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
         <div class="alert alert-info" role="alert">
             NOTE: MITS(#) - More inventory Than Scheduled (Number Scheduled)
         </div>
  </div>
  </div>
  <div class="tab-pane fade" id="specialty" role="tabpanel" aria-labelledby="specialty-tab">
       <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="padding-top: 50px; padding-bottom: 25px;">Specialty Rx</h1>
                <table id="speciality" class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th>Appointment Date</th>
                            <th>MRN</th>
                            <th>Patient Name</th>
                            <th>Visit Type</th>
                            <th>Visit Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in db_products %}
                            <tr>
                                <td>
                                     {{row.ApptDate}}
                                </td>
                                <td>
                                    {{row.MRN}}
                                </td>
                                <td>
                                    {{ row.PtName }}
                                </td>
                                <td>
                                    {{ row.VisitType }}
                                </td>
                                <td>
                                    {{ row.VisitCode }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
  </div>
  </div>
  <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
      <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="padding-top: 50px; padding-bottom: 25px;">Pending Visit Statuses</h1>
                <table id="pending" class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th>Appointment Date</th>
                            <th>MRN</th>
                            <th>Patient Name</th>
                            <th>Visit Type</th>
                            <th>Visit Code</th>
                            <th>Visit Code Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in db_pending %}
                            <tr>
                                <td>
                                     {{row.ApptDate}}
                                </td>
                                <td>
                                    {{row.MRN}}
                                </td>
                                <td>
                                    {{ row.PtName }}
                                </td>
                                <td>
                                    {{ row.VisitType }}
                                </td>
                                <td>
                                    {{ row.VisitCode }}
                                </td>
                                <td>
                                    {{ row.VisitStatusDesc }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
  </div>
  </div>
   <!-- back button -->
    <div class="container">
         <div class="vertical-center">
            <a id="backBtn" class="btn btn-dark btn-small" href="/">Back</a>
         </div>
    </div>
</div>


{% endblock %}
<!-- container with info -->

{% block scripts %}
<!-- data table script -->
<script>
    $(document).ready(function() {
        $('#speciality').DataTable();
    } );

</script>
<!-- data table script -->
<!-- data table script -->
<script>
    $(document).ready(function() {
        $('#pending').DataTable();
    } );

</script>
<!-- data table script -->
{% endblock %}